<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>284262299937-41e7k02notqm6cpna2tc4f20vu9f64op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284262299937-41e7k02notqm6cpna2tc4f20vu9f64op</string>
	<key>API_KEY</key>
	<string>AIzaSyB_aqSSouqaGIAXZJa-xQ6FiUzXqkcsw8M</string>
	<key>GCM_SENDER_ID</key>
	<string>284262299937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahspadafora.PWR</string>
	<key>PROJECT_ID</key>
	<string>projectpwr-3665b</string>
	<key>STORAGE_BUCKET</key>
	<string>projectpwr-3665b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284262299937:ios:083178f8f3138cd2</string>
	<key>DATABASE_URL</key>
	<string>https://projectpwr-3665b.firebaseio.com</string>
</dict>
</plist>